.logo{
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 100px;
    padding-bottom: 55px;
}
.menu{
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 50px;
    padding-right: 44px;
    padding-bottom: 55px;
}
.nav{
    min-height: 120px;
}
a{
    padding-left: 44px;
}
.image{
    background: url(./IMG/priroda.jpg);
    width: 100%;
    height: 655px;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding-top: 182px;
    text-align: center;
    font-size: 36px;
}
p{
    color: white;
    text-align: center;
    font-size: 20px;
}
.buttons{
    margin: 0 auto;
    text-align: center;
    padding-top: 105px;
}
.services{
    width: 220px;
    background-color: firebrick;
}
.hire{
    width: 220px;
    background-color: rebeccapurple;
}
.slider{
    margin: 0 auto;
    text-align: center;
    padding-top: 95px;
}
.slid{
    background-color: green;
}
.maintex{
    color: black;
    text-align: center;
}
.aboutass{
    text-align: center;
}
.tree{
    padding-bottom: 120px;
}
.ui{
    text-align: center;
    height: 200px;
    width: 260px;
    float: left;
    padding-top: 85px;
    padding-left: 170px;
}
.awesome{
    color: black;
    padding: 0;
}
.awesomee{
    color: black;
}
.free{
    text-align: center;
    height: 200px;
    width: 260px;
    float: right;
    padding-top: 85px;
    padding-right: 170px;
}
.fui{
    text-align: center;
    height: 200px;
    width: 260px;
    margin: 0 auto;
    padding-top: 85px;
    padding-left: 145px;
    padding-right: 145px;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.maintext{
    text-align: center;
}
.topservices{
    text-align: center;
}
.research{
    width: 270px;
    height: 238px;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    padding: 100px 50px;
}
.navigation{
    padding-top: 100px;
}
.omg{
}
.omgwtf{
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.loxx{
    display: block;
    text-transform: uppercase;
    border: 2px solid white;
    height: 55px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
